
form{
    display: flex;
    gap: 10px;
}

form > *{
    flex: 1;
    padding: 10px;
    background-color: blue;
    
}

form div:first-child {
   display: flex;
   flex-direction: column;
   align-items: end;
}

textarea{
    width: 100%;
}

input[type="submit"]{
    background-color: blueviolet;
}
input[type="email"]{
    background-color: brown;
}